@import "tailwindcss";

@theme {
  --font-sans: 'Space Grotesk Variable', sans-serif;
}

/* Rule for all titles (H1 through H6) */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Space Grotesk Variable', sans-serif;
}